
* {
    margin: 0;
    padding: 0
}

body {
    width: 100%;
    background-color: #bfbfbf;
}

.header {
    width: 512px;
    height: 425px;
    background: url('/resource/img/logotype.png') no-repeat;
}

.navbar-brand img {
    position: relative;
    top: -18px;
    width: 130px;
    height: 55px;
}

.content {
    margin-top: 5px;
    width: 100%;
    background-color: #ffffff;

}

/* .navbar-brand  a img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    display: block;
} */

.registerForm, .form-signin  {
    padding: 6px;
    margin: 0 191px 40px 280px;
}

.registerForm h2, .form-signin {
    text-align: center;
}

.navbar, .content {
    margin-bottom: 0;
    margin-top: 0;
}
